:root {
    --green: #124250;
    --orange: rgb(250, 147, 109);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.block {
    padding: 20px;
}

button {
    font-size: 18px;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    /* -moz-border-radius: 20px 0px 20px 0px; */
    -webkit-border-radius: 20px 0px 20px 0px;
    border: 1px outset #000000;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--green, teal);
    color: #fff;
    border: 2px solid #fff;
}

/* =======================  HEADER  ======================*/

header {
    background-color: var(--green, teal);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logodb, .DCC {
    max-width: 10%;
    height: auto;
}

.brand {
    color: white;
    font-size: 400%;
    font-family: 'varela_roundregular', arial, sans-serif;
}

/* =======================  SLIDER  ======================*/

.slider {
    overflow: auto;
    background-color: var(--orange, orange);
}

.slides {
    position: relative;
    max-width: 570px;
    height: 338px;
    overflow: hidden;
    margin: auto;
    animation: slide 15s infinite;
    transition: transform 0.3s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 10px 5px 5px rgba(36,133,161,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 10px 5px 5px rgba(36,133,161,0);
}

.slides div img {
    display: none;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: 1px solid var(--green, teal);
}

.slides img.active {
    display: inline-block;
}

#pause {
    margin: 10px auto ;
    display: block;
}

/* Fade effect used for slideshow  */
/* .fade {
    animation-name: fade;
    animation-duration: 3s;
} */

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.nextBtn,
.prevBtn {
    position: absolute;
    float: left;
    width: 2em;
    top: 42%;
    margin: auto;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
}

.prevBtn {
    left: 1%;
}

.nextBtn {
    right: 1%;
}

.nextBtn img:hover,
.prevBtn img:hover {
    transform: scale(1.2);
}

/* =======================  MAP  ======================*/

.map,
#map {
    width: 50%;
    height: 550px;
    overflow: hidden;
}

/* =======================  BOOKING  ======================*/
.boldred {
    color: red;
    font-weight: 700;
}

.station_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: auto;
    background-image: url(../img/Dublin_BikesXS.jpg);
}

#stations li {
    list-style-type: none;
}

#address,
#status,
#places,
#available-bikes {
    font-style: italic;
}

#booking {
    display: flex;
    align-content: center;
}

label .user {
    font-size: 18px;
}

#station_details,
.form,
.canvas {
    background-color: lightgray;
    border-radius: 5%;
    min-height: 320px;
    display: none;
    box-shadow: 7px 8px 4px 0px white;
    animation-name: fadein;
    animation-duration: 1s;
}

#canvas {
    border: 2px ridge var(--green, teal);
    background-color: white;
}

#blank_canvas {
    display: none;
}

#controls {
    padding-top: 20px;
}

/* ============================     TIMER     =========================*/
.timer {
    background-color: var(--orange, orange);
    display: none;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1s;
}

#timer {
    font-size: 1.3em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: lightgray;
    margin: 20% auto;
    /* Allows to move the modal up and down */
    /* padding: 20px; */
    width: 20%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: fadein;
    animation-duration: 1s;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--green, teal);
    padding: 15px;
    color: white;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: var(--green, teal);
    padding: 10px;
    text-align: center;
    color: #fff;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

/* Fade-in effect use for booking screens  */
@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

/*================    FOOTER     ======================*/
footer {
    background-color: var(--green, teal );
    color: #fff;
    text-align: center;
}

/*===========   MEDIA QUERIES    ===========*/
@media screen and (max-width: 640px) {
    .slides {
        width: 100%;
        height: auto;
    }

    #booking {
        display: block;
    }

    .map,
    #map,
    .station_details {
        width: 100%;
        height: 350px;
        display: block;
    }

    #station_details,
    .form,
    .canvas {
        height: 300px;
    }

}